<p>
  simple-http-service works!
</p>




    
<table class='table table-sm table-hover'>
    <thead>
        <tr class="alert-info">
            <th>ID</th>
            <th>permanentNumber</th>
            <th>code</th>
            <th>url</th>
            <th>ID</th>
            <th>First Name</th>
            <th>DOB</th>
            <th>nationality</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let driver of drivers' class="table-active">
            <td>{{driver.driverId}}</td>
            <td>{{driver.permanentNumber}}</td>
            <td>{{driver.code}}</td>
            <td>{{driver.url}}</td>
            <td>{{driver.givenName}}</td>
            <td>{{driver.familyName}}</td>
            <td>{{driver.dateOfBirth}}</td>
            <td>{{driver.nationality}}</td>
        </tr>
    </tbody>
</table>